@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    box-sizing: border-box;
    color: white;
    font-family: 'Rubik', sans-serif;
}

body{
    height: 100dvh;
    margin: 0;
    background-color: hsl(226, 43%, 10%);
}

main{
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 1em;
    padding: 1.3em;
}

.gridBox{
    box-sizing: border-box;
    width: 100%;
    height: 10em;
    background-color: antiquewhite;
    border-radius: 1em;
    background-color: hsl(235, 46%, 20%);
    
}

#firstGridBox{
    height: 11em;
    padding: 0;
}

#topGridBoxButton{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding-top: 2em;
}

#topGridBoxButton:hover{
    text-shadow: 0px 0px 10px white;
}

#lowerTopSpan{
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: .05em;
}

#upperTopSpan{
    font-size: .9em;
    color: hsl(236, 100%, 87%);
}

.upperTopGridBox{
    background-color: hsl(246, 80%, 60%);
    border-radius: 1em;
    place-content: center;
    height: 65%;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 1.2em;
    z-index: -1;
}

.lowerTopGridBox{
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.upperTopGridBox img{
    width: 4em;
    height: 4em;
    border: 3px solid white;
    border-radius: 50%;
}

#orange {
    background-color: hsl(15, 100%, 70%);
    background-image: url("./images/icon-work.svg");
    background-position-x: 95%;
    background-position-y: -14%;
    background-repeat: no-repeat;
}
#cyan {
    background-color: hsl(195, 74%, 62%);
    background-image: url("./images/icon-play.svg");
    background-position-x: 95%;
    background-position-y: -10%;
    background-repeat: no-repeat;
}
#red {
    background-color: hsl(348, 100%, 68%);
    background-image: url("./images/icon-study.svg");
    background-position-x: 95%;
    background-position-y: -10%;
    background-repeat: no-repeat;
}
#green {
    background-color: hsl(145, 58%, 55%);
    background-image: url("./images/icon-exercise.svg");
    background-position-x: 95%;
    background-position-y: -2%;
    background-repeat: no-repeat;
}
#purple {
    background-color: hsl(264, 64%, 52%);
    background-image: url("./images/icon-social.svg");
    background-position-x: 95%;
    background-position-y: -25%;
    background-repeat: no-repeat;
}
#yellow {
    background-color: hsl(43, 84%, 65%);
    background-image: url("./images/icon-self-care.svg");
    background-position-x: 95%;
    background-position-y: -14%;
    background-repeat: no-repeat;
}

.inner{
    background-color: hsl(235, 46%, 20%);
    height: 78%;
    border-radius: 1em;
    padding: 1em;
    position: relative;
    top: 22.5%;
}

.icon {
    
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
